*{       
margin: 0;
padding: 0;

}





body{

background-color: black;

color: #FFFFFF;
}


.cabecalho{ 
   display:flex;

   background: rgb(245,1,249);
background: linear-gradient(90deg, rgba(245,1,249,1) 8%, rgba(35,116,236,1) 48%, rgba(169,11,180,1) 100%);
   color: #FFFFFF;
   align-items:center ;
   justify-content:space-around ;
   font-size: 16px;
   padding:24px 0;
}

.cabecalho-imagem{

width: 34% ;
}

.lista-item{           

display:inline-block ;

margin: 0 16px;

font-size: 24px ;

}
.secao1{ 

background-color:black
;


  }