*{       
margin: 0;
padding: 0;

}





body{

background-color: black;

color: #FFFFFF;
}


.cabecalho{ 
   display:flex;

   background-color:#6603e7;
   color: #FFFFFF;
   align-items:center ;
   justify-content:space-around ;
   font-size: 16px;
   border:  ;




   
}